@import './colors.scss';

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway;
  font-size: 1rem;

  header {
    background-color: $primary_color;
    z-index: 999;
    position: sticky;
    top: 0;

    .nav {
      a {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        display: block;
      }

      a:hover,
      a:visited {
        color: #fff;
      }

      .dropdown-menu {
        background-color: $primary3;
        width: 280px;

        li {
          color: #fff;

          a {
            display: block;
            margin: auto;
            width: 80%;
            padding: 10px;
            font-size: 0.9em;
          }

          a:hover {
            background-color: $primary_color;
            border-radius: 5px;
          }

          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 15px;
            border-radius: 15px;
            padding: 15px 0;

            span {
              display: inline-block;
              white-space: initial;
              text-align: center;
              font-size: 0.95rem;
            }
          }

          div:hover {
            background-color: $primary_color !important;
          }
        }

        li:hover {
          background-color: $primary3;
        }
      }
    }

    .demo-sch {
      a {
        background-color: #fff;
        color: $primary_color;
        padding: 15px 25px;
        border-radius: 25px;
        font-weight: 800;
        box-shadow: 1px 0 3px rgba(0, 0, 0, 0.4);
      }

      a:hover,
      a:visited {
        color: $primary_color;
      }

      a:hover {
        color: #fff;
        background-color: $primary2;
        transition: all 0.2s linear;
      }
    }
  }

  .main-pane {
    margin-top: 4rem;
    height: 50vh;
    background-color: $gray2;

    .left-pane {
      height: 90%;

      div {
        background-color: $primary-color;
        border-radius: 0 50px 50px 0;
        height: 100%;
        padding-left: 30%;
        padding-top: 10%;

        * {
          margin-top: 0.3rem;
        }

        h1,
        p {
          color: #fff;
        }

        h1 {
          font-size: 3rem;
          font-weight: 700;
        }

        p {
          font-size: 1.1em;
        }

        .learn-btn {
          display: inline-block;
          color: $primary-color;
          background-color: white;
          text-decoration: none;
          padding: 15px 40px;
          font-weight: 800;
          border-radius: 25px;
          box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.4);
        }

        .learn-btn:hover {
          background-color: $primary2;
          color: white;
          transition: all 0.2s linear;
        }
      }
    }

    .right-pane {
      height: 90%;
    }
  }

  section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;

    .carousel-container {
      width: 100%;
    }

    .partners-pane {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 60%;
      height: 20vh;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        .carousel1,
        .carousel2 {
          width: 100% !important;
          height: 50%;
          padding: 0;

          .react-multi-carousel-track {
            width: 70vw !important;
          }

          ul {
            .react-multi-carousel-item {
              width: 130px;
              margin-left: 10px;
              margin-right: 10px;
            }

            li {
              width: 230px;
              height: 45px;
              cursor: grab;

              img {
                width: 145px;
                height: 45px;
                padding: 4px;
                margin-left: 30px;
                margin-right: 30px;
                object-fit: contain;
              }
            }

            li:active {
              cursor: grabbing;
            }
          }
        }
      }
    }
  }

  .inf {
    height: 40vh;

    .inter-card {
      background-color: $gray2;
      height: 100%;

      div {
        display: none;
        height: 100% !important;

        .video-pres {
          display: flex;
          align-items: center;
          justify-content: right;
          padding-right: 30px;

          iframe {
            width: 500px;
            height: 280px;
            max-width: 545px;
            max-height: 545px;
          }

          .video-fade-effect {
            opacity: 0;
            margin-right: 20%;
            animation-name: videoPressEffect;
            animation-duration: 700ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
          }

          @keyframes videoPressEffect {
            0% {
              opacity: 0;
              margin-right: 20%;
            }

            25% {
              opacity: 0.25;
              margin-right: 15%;
            }

            50% {
              opacity: 0.45;
              margin-right: 10%;
            }

            75% {
              opacity: 1;
              margin-right: 5%;
            }

            100% {
              opacity: 1;
              margin-right: 0%;
            }
          }

        }

        .mikmak-pres {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 30px;

          h1 {
            font-weight: 700;
            font-size: 2.2rem;
            color: #000;
          }

          p {
            font-size: 1.1rem;
            color: #2d2a2a;
          }

          .slide-fade-effect {
            opacity: 0;
            margin-left: 20%;
            animation-name: showPresText;
            animation-duration: 700ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
          }

          @keyframes showPresText {
            0% {
              opacity: 0;
              margin-left: 20%;
            }

            25% {
              opacity: 0.25;
              margin-left: 15%;
            }

            50% {
              opacity: 0.45;
              margin-left: 10%;
            }

            75% {
              opacity: 1;
              margin-left: 5%;
            }

            100% {
              opacity: 1;
              margin-left: 0%;
            }
          }
        }

        .show-on-scroll {
          display: flex;
        }
      }
    }
  }

  .app-section {
    height: 60vh;

    .app-preview {
      padding: 2%;

      .show-on-scroll {
        display: none;

        .preview-discription {
          padding-left: 0%;
          animation-name: slide-right;
          animation-duration: 600ms;
          animation-timing-function: linear;
          animation-fill-mode: forwards;

          h3 {
            font-weight: 800;
            margin-bottom: 0;
          }

          ul {

            li {
              font-weight: 800;
              font-size: 1.4rem;
              margin-bottom: 10px;
            }

            p {
              font-size: 1.1rem;
              font-weight: 400;
            }
          }
        }

        @keyframes slide-right {
          0% {
            padding-left: 0%;
          }

          20% {
            padding-left: 3%;
          }

          40% {
            padding-left: 6%;
          }

          60% {
            padding-left: 9%;
          }

          80% {
            padding-left: 12%;
          }

          100% {
            padding-left: 15%;
          }
        }

        .video-preview {
          padding-left: 15%;
          animation-name: slide-left;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
          animation-duration: 700ms;
        }

        @keyframes slide-left {
          0% {
            padding-left: 15%;
          }

          20% {
            padding-left: 12%;
          }

          40% {
            padding-left: 9%;
          }

          60% {
            padding-left: 6%;
          }

          80% {
            padding-left: 3%;
          }

          100% {
            padding-left: 0%;
          }
        }
      }
    }
  }

  .desc-section {
    background-color: $gray2;
    height: 50vh;

    div {
      .show-on-scroll {
        display: none;
      }

      .profitability-preview {
        display: flex;
        justify-content: end;
        height: 100%;
        align-items: center !important;

        img {
          margin-right: 15%;
          animation-name: slide-preview-right;
          animation-duration: 600ms;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }

        @keyframes slide-preview-right {
          0% {
            margin-right: 15%;
          }

          20% {
            margin-right: 12%;
          }

          40% {
            margin-right: 9%;
          }

          60% {
            margin-right: 6%;
          }

          80% {
            margin-right: 3%;
          }

          100% {
            margin-right: 0%;
          }
        }
      }

      .profitability-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 0%;

        animation-name: slide-profit-right;
        animation-duration: 600ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;

        h3 {
          font-weight: 800;
          margin-top: 4%;
          margin-bottom: 1%;
        }

        ul {

          li {
            font-weight: 800;
            font-size: 1.4rem;
          }

          p {
            font-size: 1.1rem;
            font-weight: 400;
          }
        }
      }

      @keyframes slide-profit-right {
        0% {
          padding-left: 15%;
        }

        20% {
          padding-left: 12%;
        }

        40% {
          padding-left: 9%;
        }

        60% {
          padding-left: 6%;
        }

        100% {
          padding-left: 3%;
        }
      }
    }
  }

  .desc-section>div,
  .desc-section>div>div {
    height: 100%;
  }

  .platform-preview {
    position: relative;
    height: 100vh !important;

    .show-on-scroll {
      display: none;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      padding-top: 12%;
      animation-name: slide-up;
      animation-timing-function: linear;
      animation-duration: 700ms;
      animation-fill-mode: forwards;

      .col-md-6 {
        padding: 2rem;
      }

      h1 {
        font-weight: 700;
        color: #000;
        margin-bottom: 3rem;
      }

      >p {
        font-weight: 400;
        font-size: 1.1rem;
        text-align: center;
      }
    }

    @keyframes slide-up {
      0% {
        padding-top: 12%;
        opacity: 0;
      }

      25% {
        padding-top: 10%;
        opacity: 0.25;
      }

      50% {
        padding-top: 8%;
        opacity: 0.5;
      }

      75% {
        padding-top: 6%;
        opacity: 0.75;
      }

      100% {
        padding-top: 4%;
        opacity: 1;
      }
    }
  }

  .preview-card {
    width: 540px;
    height: auto;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);

    .top-image {
      img {
        width: 100%;
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      padding-top: 3rem;
      padding-bottom: 4rem;

      button {
        max-width: 50%;
        margin-bottom: 25px;
        font-weight: 700;
        padding: 8px;
        box-shadow: 2px 0 1px rgba(0, 0, 0, 0.4);
        border-radius: 25px;
      }

      * {
        margin-left: 2.3rem;
      }

      .details-link {
        display: flex;
        align-items: center;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 1.3rem;
          font-weight: 700;
          max-width: 50%;
        }

        i {
          font-size: 1.1rem;
          ;
          color: #fff;
          margin-top: 2px;
          width: 40px;
          margin-left: 10px;
        }
      }

      h1 {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 10px;
      }

      div {
        margin: 0;

        p {
          line-height: 2rem;
          font-weight: 500;
          padding-left: 5px;
          padding-right: 5px;
          text-align: start;
        }
      }
    }
  }

  .customer-stories {
    height: 120vh;
    padding-top: 4%;
    background-color: $gray2;

    .stories {
      height: 90%;
      
      h1 {
        font-weight: 700;  
        color: #000;
        margin-bottom: 3rem;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;

        .carousel-customers {
          width: 60%;
          background-color: #fff;
          border-radius: 30px;
          display: flex;
          flex-direction: row;

          .arrows {
            position: absolute;
            width: 50px;
            height: 50px;
            color: white;
            background-color: $primary-color;
            border-radius: 8px;

            i {
              font-size: 2rem;
            }
          }

          .left-arrow {
            left: 5%;
          }

          .right-arrow {
            right: 5%;
          }

          .carousel-card {
            height: 100%;
            width: 100%;

            .row {
              width: 80%;
              height: 100%;
              padding: 5px;

              .carousel-left {

                h1 {
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-break:auto;
                  color: #000;
                  margin: 0;
                }
  
                p {
                  font-size: 1.3rem;
                  margin-top: 10px;
                  color: #000;
                }

                ul.story {
                  list-style: disc;
                  
                  li {
                    font-size: 1.1rem;
                    color: #000;
                    padding: 5px;
   
                    strong {
                      color: $primary-color;
                    }
                  }
                }
                
                div.reference {
                  display: flex;
                  align-items: start;
                  width: 100%;
                  height: auto;

                  span {
                    font-size: 1.3rem;
                    padding-top: 8px;
                    padding-bottom: 8px;
                  }
                }
                
                span.note {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .react-multi-carousel-dot button {
    border-radius: unset;
    width: 18px;
    height: 10px;
    background-color: #BEC3C6;
    border: none;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
  }

  .react-multi-carousel-dot--active button{
    background-color: #333333;
  }

  .media-partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    height: 70vh;
    width: 80%;

    .partners {

      .partners-title {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      h1 {
        display: inline-block;
        margin-bottom: 4rem;
        font-weight: 700;
        color: #000;
      }

      .carousel4, .carousel5 {
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
      }

      .label1, .label2 {
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;

        hr {
          width: 100%;
          z-index: 0;
          color: #000;
          font-weight: 700;
          border: 1px solid black;
        }

        hr, label {
          display: inline-block;
        }

        label {
          position: absolute;     
          
          left: 50%;
          transform: translateX(-50%);
          
          z-index: 999;
          color: #fff;
          font-weight: 700;
          padding: 3px 70px;
          border-radius: 8px;
        }
      }

      .label1 {
        label {
          background-color: $primary-color;
        }
      }

      .label2 {
        label {
          background-color: #B9409A;
        }
      }
      
      ul {
        .react-multi-carousel-item {
          width: 130px;
          margin-left: 10px;
          margin-right: 10px;
        }

        li {
          width: 230px;
          height: 45px;
          cursor: grab;

          img {
            width: 145px;
            height: 45px;
            padding: 4px;
            margin-left: 30px;
            margin-right: 30px;
            object-fit: contain;
          }
        }

        li:active {
          cursor: grabbing;
        }
      }

      .react-multi-carousel-track {
        width: 70vw !important;
      }
    }
  }
}